@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');


body {
  background-color: #F8F3E9;
}

h2 {
  font-family: 'Nunito', sans-serif;
  color: #52bcc9;
  font-weight: 800;
  font-size: 50px;
}

.t-b {
  font-family: 'Nunito', sans-serif;
  color: #52bcc9;
  font-weight: 800;
  font-size: 66px;
}

.button1 {
  background-color: #52bcc9;
  padding: 0.2rem 1rem;
  color: #F8F3E9;
  border: 3px solid #52bcc9;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.button2 {
  background-color: #F8F3E9;
  padding: 0.2rem 1rem;
  color: #52bcc9;
  border: 3px solid #52bcc9;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn-1 {
  background-color: #52bcc9;
  padding: 0.375rem 2rem;
  color: #F8F3E9;
  border: none;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
}

.btn-1:hover {
  color: #F8F3E9;
  background-color: #00000052;
  transition: 0.2s ease-in-out;

}

.btn-logout {
  background-color: #52bcc9;
  padding: 0.375rem 2rem;
  color: #F8F3E9;
  border: none;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn-buscar-p {
  background-color: #52bcc9;
  padding: 1rem 2rem;
  color: #F8F3E9;
  border: none;
  font-size: 28px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.btn-hrv {
  background-color: #F8F3E9;
  padding: 1rem 2rem;
  color: #52bcc9;
  border: 3px solid #52bcc9;
  font-size: 28px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.btn-hrv:hover {
  background-color: #52bcc9;
  color: #F8F3E9;
  transition: 0.2s ease-in-out;
}

.button1:hover {
  background-color: #00000052;
  transition: 0.2s ease-in-out;
  border: 3px solid #00000000;
}

.button2:hover {
  transition: 0.2s ease-in-out;
  border: 3px solid #00000052;
  color: #00000052;
}

.form-control {
  border: none;
}

.row-display {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

.form {
  max-width: 350px;
}

.logo-img {
  padding: 1rem 1rem;
}

.logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #F8F3E9;
}

.buttons {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.form-content {
  background-color: #c8c1b87a;
  padding: 25% 10% 0;
  border-radius: 7%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title{
  z-index: 100;
}

a{
  text-decoration: none;
  color: #606060;
}

a:hover{
  color: #000000;
}

.button-start {
  width: 60px;
  height: 30px;
  background-color: green;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button-stop {
  width: 75px;
  height: 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button-restart {
  width: 80px;
  height: 30px;
  background-color: #52BCC9;
  color: white;
  font-weight: bold;
  border: none;  
}