#editP .form {
    max-width: 450px;
}

#editP h2{
    font-size: 35px;
}

#editP .form .form-content{
    padding: 15% 10%;
}

#editP .form .form-content .row-display{
    justify-content: space-between;
}

.w-47{
    width: 47%;
}

#editP{
    color: #0000007c;
    font-weight: 500;
}